Savest/.vs/Savest/FileContentIndex/242366d0-7ba6-4364-95bb-8225c6100638.vsidx
Savest/Savest/obj/Debug/net8.0/Savest.assets.cache
Savest/.vs/Savest/FileContentIndex/5829152e-1074-4fed-b3ac-14c03d7d638d.vsidx
Savest/.vs/Savest/FileContentIndex/c4a67ed2-3616-4199-ab44-a8217da84eaa.vsidx
Savest/.vs/Savest/FileContentIndex/12de046c-def7-4b58-9ff8-066447e58578.vsidx
Savest/.vs/Savest/FileContentIndex/29857cf1-9a03-4999-bd41-4b4cbfd88e0c.vsidx
/Savest/.vs/Savest/FileContentIndex
