Savest/.vs/Savest/FileContentIndex/242366d0-7ba6-4364-95bb-8225c6100638.vsidx
Savest/Savest/obj/Debug/net8.0/Savest.assets.cache
Savest/.vs/Savest/FileContentIndex/5829152e-1074-4fed-b3ac-14c03d7d638d.vsidx
